body {
  background-size: 1500px;
}
h1 {
  text-align: center;
  font-weight: thick;
  font-family: Otomanopee One, sans-serif;
  size: 20px;
  color: #414941;
}

a {
  text-align: center;
  margin-left: 670px;
  text-decoration: none;
  border: 20px;
  border-radius: 20px;
  color: #f6eb9c;
  padding: 15px;
  background: #414941;
}
