body {
  background-size: 1500px;
}
h1 {
  text-align: center;
  font-weight: thick;
  font-family: Otomanopee One, sans-serif;
  size: 20px;
}

button {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  color: #414941;
  padding: 10px;
  background: #f6eb9c;
}
