body {
  background-size: 1500px;
  width: 800px;
}
h1 {
  color: #414941;
  font-family: "Otomanopee One", sans-serif;
  position: relative;
  margin-bottom: 30px;
  margin-left: 80px;
  text-transform: uppercase;
}

form {
  text-align: right;
  margin: 20px;
}

.container {
  display: block;
  margin: 0 auto;
  border: #414941 solid;
  border-radius: 20px;
  box-shadow: 12px 12px 20px 1px grey;
  background-color: #fff;
  opacity: 0.9;
}

.submitButton {
  border: #759370 solid;
  border-radius: 20px;
  color: #414941;
  padding: 5px;
  background: white;
}

.submitButton:hover {
  background: #759370;
  color: #fff;
}

.searchBar {
  padding: 5px;
  border-radius: 6px;
  border-color: #414941;
  background: white;
}

.loca {
  display: block;
  margin: auto;
  margin-left: 70px;
  margin-bottom: 12px;
  border: #759370 solid;
  border-radius: 20px;
  color: #414941;
  padding: 5px;
  background: white;
}

.loca:hover {
  background: #759370;
  color: #fff;
}

.units {
  font-family: "Otomanopee One", sans-serif;
  display: block;
  margin-left: 75px;
  font-size: 13px;
  background: transparent;
  border: #414941 thick;
  border-radius: 13px;
  margin-bottom: 20px;
}

.units:hover {
  color: #44c95a;
}

.stats {
  font-family: sans-serif;
  color: #414941;
  text-align: left;
  width: fit-content;
  font-size: larger;
  font-stretch: wider;
}

.stats:hover {
  background-color: aliceblue;
  border-radius: 20px;
}

.todayStats {
  padding: 0 50px;
  margin-left: 70px;
}

.w {
  padding-left: 100px;
}

.h {
  padding: 0px 0px 200px 143px;
  position: fixed;
}

.img {
  width: 100px;
  position: fixed;
}

.date {
  text-decoration: none;
  font-size: 16px;
}

.futureStats {
  margin: 0px 0px 40px 40px;
  text-align: center;
}

.futureStatsTemperatureMin {
  opacity: 0.6;
}
